@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: black;
}
body
{
    font-family: 'DM Sans', sans-serif;
}
div {
    width: 1200px;
    margin: 0 auto;
}

/* skip to content button */
.skip-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.skip-btn button {
    width: 18%;
    margin: 15px auto;
    padding: 9px 0;
    border: none;
    border-radius: 5px;
    background-color: #DB8876;
    color: black;
    font-size: 18px;
    font-weight: 500;
  }
  .header-content-sec-2 {
    display: flex;
    justify-content: space-between !important;
    align-items: center;
}
.logo {
    width: 20%;
    display: flex;
    justify-content: start;
  }
.logo img{
    width: 80%;
  }
  nav {
    width: 50%;
    display: flex;
justify-content: center;
  }
  .our-phographer {
    width: 30%;
    display: flex;
justify-content: end;
  }
  ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
  }
  li {
    padding: 4px 7px;
    border: 1px solid #901C1C;
    margin: 0 3px;
    border-radius: 30px;
}

.header-content-sec-2 a {
    font-size: 13px;
  }

.header-sec-1 a {
    font-size: 18px;
}
.our-phographer h3 {
    font-size: 36px;
    color: #901C1C;
    font-weight: 500;
}
.photographer__row-1 img {
    width: 160px;
    border-radius: 100%;
    object-fit: cover;
    height: 160px;
    object-position: 102% 51%;
    margin-bottom: 30px;
}
.photographer__row-1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 80px;
}
.elements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33%;
    align-items: center;
}
.photographer__row-1--element-2.elements {
    align-items: center;
  }
  .photographer__row-1--element-3.elements {
    align-items: center;
  }
  .photographers a {
      margin-top: 40px;
    width: 100%;
    font-size: 13px;
  }
  .elements-content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
  }
  
  .elements-a {
    color: #BF5138;
    font-weight: 500;
    font-size: 36px !important;
    margin-top: 30px;
    padding-top: 20px;
  }

  .elements-content .country {
    font-size: 15px;
    font-weight: 400;
    margin: 10px auto;
    color: #901C1C;
}
  .elements-content .description {
    font-size: 13px;
    font-weight: 400;
    margin:auto;
    color: #000000;
}
  .elements-content .price {
      margin-top:20px;
    font-size: 12px;
    font-weight: 400;
    margin:7px auto;
    color: #757575;
}
.row-2 {
  margin-bottom: 50px;
}
